.AppWrapper {
  text-align: center;
}

@media (max-width:767px) {
  .upArrow {
    position: absolute;
    left: 35%;
    width: 6em;
    height: 4em;
    margin-top: 5%;
    z-index: 1;
  }
  .downArrow {
    bottom: 3%;
    left: 35%;
    width: 6em;
    height: 4em;
    margin-top: -40px;
  }
  .backArrow {
    width: 6em;
    height: 4em;
  }

  .title {
    display: inline-block;
    margin-top: 100px;
    margin-left: 20px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .upArrow {
    position: absolute;
    left: 42%;
    width: 6em;
    height: 4em;
    margin-top: 5%;
    z-index: 1;
  }
  .downArrow {
    left: 35%;
    width: 6em;
    height: 4em;
    margin-top: -15px;
  }
  .backArrow {
    width: 6em;
    height: 4em;
  }

  .title {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20%;
    font-size: 80px;
  }
}

@media (min-width:992px){
  .upArrow {
    position: absolute;
    left: 47%;
    width: 6em;
    height: 4em;
    z-index: 1;
  }
  .downArrow {
    width: 6em;
    height: 4em;
  }
  .backArrow {
    width: 6em;
    height: 4em;
  }

  .title {
    display: inline-block;
    margin-top: 8%;
    font-size: 32px;
  }
}