

@media (max-width:767px) {
  .contactImg{
    & > a{
      width: 50px;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
      & > img {
        width: 50px;
      }
    }
  }
.TistoryImg {
  padding-bottom: 20px;
}

  .contactContants {
    width: auto;
    margin-top: 5%;
  }
  .contactContants input{
    width: 130px;
  }
  .contactText {
    font-size: 18px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .contactImg{
    & > a{
      width: 50px;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
      & > img {
        width: 50px;
      }
    }
  }
  .contactContants {
    width: auto;
  }
  .contactContants input{
    width: 180px;
  }
  .contactText {
    font-size: 18px;
  }
}

@media (min-width:992px){
  .contactImg{
    & > a{
      width: 50px;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
      & > img {
        width: 50px;
      }
    }
  }
  .TistoryImg {
    padding-bottom: 15px;
  }
  .contactContants {
    width: auto;
  }
  .contactContants input{
    margin-top: 3%;
    width: 300px;
  }
  .contactText {
    font-size: 2rem;
    margin-bottom: 10%;
  }
}