@media (min-width:992px){
  img {
    margin-top: 10px;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    opacity: 0.8;
  }
  
  .MainTextWrapper {
    width: 100%;
    height: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    transform: translate(0,-50%);
    overflow: hidden;
      &>p {
        font-size: 15px;
      }
      &>h1{
        font-size: 15px;
      }
      .MainText {
        text-transform: uppercase;
        line-height: -20px;
        &:first-child {
          animation: anim 10s infinite;
        }
      }
  }
  
  @keyframes anim {
    0% {
      margin-top: 0;
    }
    16% {
      margin-top: -35px;
    }
    33% {
      margin-top: -70px;
    }
    50% {
      margin-top: -105px;
    }
    66% {
      margin-top: -140px;
    }
    100% {
      margin-top: 0;
    }
  }

}


@media (min-width:768px) and (max-width:991px) {
  img {
    width: 70%;
    height: 70%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
    opacity: 0.8;

  }
  
  .MainTextWrapper {
    width: 100%;
    height: 30px;
    margin-bottom: 10%;
    transform: translate(1%,-50%);
    overflow: hidden;
      &>p {
        font-size: 30px;
      }
      &>h1{
        font-size: 30px;
      }
      .MainText {
        text-transform: uppercase;
        line-height: -10px;
        &:first-child {
          animation: anim 8s infinite;
        }
      }
  }
  
  @keyframes anim {
    0% {
      margin-top: 0;
    }
    16% {
      margin-top: -70px;
    }
    33% {
      margin-top: -145px;
    }
    50% {
      margin-top: -210px;
    }
    66% {
      margin-top: -280px;
    }
    100% {
      margin-top: 0;
    }
  }

  
}

@media (max-width:767px) {
  .mainWrapper {
    margin-top: 20%;
  }
  
  img {
    width: 70%;
    height: 70%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
    opacity: 0.8;

  }
  
  .MainTextWrapper {
    width: 100%;
    height: 20px;
    margin-top: 5vh;
    margin-bottom: 10%;
    transform: translate(1%,-50%);
    overflow: hidden;
      &>p {
        font-size: 15px;
      }
      &>h1{
        font-size: 15px;
      }
      .MainText {
        text-transform: uppercase;
        line-height: -20px;
        &:first-child {
          animation: anim 10s infinite;
        }
      }
  }
  
  @keyframes anim {
    0% {
      margin-top: 0;
    }
    16% {
      margin-top: -35px;
    }
    33% {
      margin-top: -70px;
    }
    50% {
      margin-top: -105px;
    }
    66% {
      margin-top: -140px;
    }
    100% {
      margin-top: 0;
    }
  }

  
}