@media (min-width:992px){
  .skillsWrapper {
    line-height: 15em;
    text-align: center;
      .skillsH1{
        width: 97%;
        height: 4em;
        margin: 0;
        margin-top: 1.5%;
        padding: 0;
        font-size: 3em;
      }
      .skillsP {
        width: 80%;
        height: 5em;
        font-size: 1.8em;
        margin: 0 auto;
        padding: 0;
        word-spacing: 0.5em;
      }
      .SkillsImgWrapper {
          width: 100%;
          margin-top: 3%;
          margin-left: 20%;
        .SkillsImg{
          width: 3.5%;
          height: 3.5%;
          margin-left: 3.5% ;
        }
      }
  }
}