
@media (max-width:767px) {
  .skillsWrapper{
    height: 100%;
  }
  
  .SkillsImgWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10%;
  }
  
  .SkillsImg {
    width: 50px;
  }
  
  .SkillsP {
    width: 100px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .skillsWrapper{
    height: 100%;
  }
  
  .SkillsImgWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    
  }
  
  .SkillsImg {
    width: 100px;
    margin: 10px;
  }
  
  .SkillsP {
    width: 100px;
    font-size: 30px;
    margin: 10px 20px;
  }
}

@media (min-width:992px){
  .skillsWrapper{
    height: 100%;
  }
  
  .title{
    font-size: 4rem;
  }

  .SkillsImgWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% auto;
    margin-bottom: 15%;
    
  }
  
  .SkillsImg {
    width: 100px;
    margin: 10px;
  }
  
  .SkillsP {
    width: 100px;
    font-size: 30px;
    margin: 10px 20px;
  }
}